<app-nav></app-nav>
<main class="mx-5 text-center">
  <h2>Projects</h2>
  <p class="largeParagraph text-left">
      <a href="https://github.com/luisramirez04">My Github profile</a> displays a range of projects that
      I have completed in a range of technologies. Below are a couple that were released for public use:
  </p>
  <article>
      <h3>Trump Hole</h3>
      <figure>
          <img src="../../assets/trumpholeimage.jpg" alt="Icon of the iOS app called Trump Hole.">
          <p class="largeParagraph text-left">
              Trump Hole is an iOS game that was released into the Apple App Store in 2016. The basis of 
              the game is that Donald Trump is trying to not get eaten by Hillary Clinton. The player
              controlled Donald Trump by jumping left and right to fall through walls that are dragging
              him to Hillary's mouth. Every wall that Mr. Trump got past is 1 point. Get eaten and
              start again from 0 points. This was my first game that I ever developed. This was very
              challenging because I have never worked with vectors, acceleration or a game engine in 
              the past. 
          </p>
          <p class="largeParagraph text-left">
              A link to the code for Trump Hole can be seen <a href="https://github.com/luisramirez04/Trump-Hole">here.</a>
          </p>
      </figure>
  </article>
  <article>
      <h3>Sold</h3>
      <figure>
          <img src="../../assets/soldimage.jpg" alt="Icon of the iOS app called Sold"> 
          <p class="largeParagraph text-left">
              Sold is an application that was released into the Apple App Store in 2016. It allowed people
              that sold items on Facebook to be able to search for comments to thier ads and see who 
              wrote the comment, what time, and on what item. This was commonly used for people to search 
              for who the first person to respond with "sold" to one of their ads". This project was very challenging
              due to it being the first time I was working with external APIs in Swift. I also integrated a
              animation framework to add some styling to the login screen.
          </p>
          <p class="largeParagraph text-left">
              A link to the code for Sold can be seen <a href="https://github.com/luisramirez04/Sold">here.</a>
          </p>
      </figure>
  </article>
  <article>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th id="descriptionColumn" class="largeParagraph">Description</th>
                  <th id ="technologiesColumn">Technologies Used</th>
                  <th>Year</th>
              </tr>
          </thead>
          <tbody [innerHTML]="htmlToAdd">
          </tbody>
      </table>
  </article>
</main>
<app-footer></app-footer>