<app-nav></app-nav>
<main>
    <h2>Please fill out the form below to enter your own testemonial.</h2>
    <form>
        <div id="formElements">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newTestemonialData.name" name="name" placeholder="Name (Optional)">
            <span class="errorMessage" id="nameError">Please enter a valid name.</span>

            <label for="email">Email</label>
            <input type="email" [(ngModel)]="newTestemonialData.email" id="email" name="email" placeholder="Your email to say thanks (Optional). This will not be displayed">
            <span class="errorMessage" id="emailError">Please enter a valid email.</span>
            
            <label for="phone">Phone Number (xxx-xxx-xxxx)</label>
            <input type="text" [(ngModel)]="newTestemonialData.phone" id="phone" name="phone" placeholder="Your phone number to say thanks (Optional). This will not be displayed">
            <span class="errorMessage" id="phoneError">Please enter a valid phone number in the following format: XXX-XXX-XXXX</span>
            
            <label for="Comments">Comments (Required)</label>
            <input type="text" [(ngModel)]="newTestemonialData.comments" id="comments" name="comments" placeholder="Enter your kind words here..." required>
            <span class="errorMessage" id="commentsError">Please enter a comment.</span>
            <br>
        </div>
            <button type="submit" class="btn btn-primary btn-sm" value="Submit" (click)="post()"></button>
    </form>
</main>
<app-footer></app-footer>