<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/home">Luis Ramirez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/interests">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/testemonials">Testemonials</a>
      </li>
    </ul>
  </div>
</nav>