<app-nav></app-nav>
<main class="mx-5 text-center">
  <h2>Luis's Resume</h2>
  <a href="https://word-view.officeapps.live.com/wv/WordViewer/request.pdf?WOPIsrc=https%3A%2F%2Fwopi%2Eonedrive%2Ecom%2Fwopi%2Ffiles%2FFDA834226445D6A5%21763&access_token=4wYcqy8fUTSTpXmewRHvo5EIVhVhPr_NRSDBEwC2rcuRtEUwmFBCzF4Ok5oWfdxzv6aYYbypRDR9l2nHiHwRTbFG_YDTMO8EfHpfQ_IR2LDX5HQZuiH4In7AxgkSMrIISaZSVlmzRNWidtP5Z05f5cg9nWEdaEvU8u4zux9uxYB4mcV1uUnq2qGomT6Rg1Sn_QQNdt10LvcSsRuqnPk0gJYK8WqxG7Bl3RwaUUOEL4vyleHnvGEfmmRFpnHAS-0LbfUAoDH0CaSoCDhKCtPjWVt2kPtBKz6lYqIEwWrUuLwl92gvssrQ9Hjs2QpRq-VbDaeTwkpSv0xJZE09_WUSI3qLCm-hEgCAmZTxhqC6GPa7o7a5zJaeNnWorNXK1lDAPsJVrgs4yxdtYFnaCLxcX-zNXVQV-euzUBI-hz27403icLF5fpbfLfOwzMkHdc9UFnUAOKxnrZ7WhC0E8inJAtEQ&access_token_ttl=1544917182137&z=aRkRBODM0MjI2NDQ1RDZBNSE3NjMuMTI&type=printpdf&usid=51d81bff-7fb8-4b21-8d93-2c2a4bdd6f7e&build=16.0.11116.32653&waccluster=US5"
  class="btn btn-primary btn-lg btn-block">
  Print</a>
  
  <iframe src="https://onedrive.live.com/embed?cid=FDA834226445D6A5
  &amp;resid=FDA834226445D6A5%21763&amp;authkey=AC0E0ZbEvw1-NVg&amp;em=2&amp;wdStartOn=1" 
  width="90%" height="780px" frameborder="0">This is an embedded <a target="_blank" 
  href="https://office.com">Microsoft Office</a> document, powered by 
  <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe>
</main>
<app-footer></app-footer>