<app-nav></app-nav>
<main class="mx-5 text-center">
  <h2>Interests</h2>
      <article>
          <h3>Cardiology</h3>
          <figure>
              <img width="75%" class="d-none showForPrint" src="../../assets/cardiologyimagemedium.jpg" alt="An image of a heart.">
              <iframe width="75%" height="315" src="https://www.youtube.com/embed/fHp8wayCAv0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="largeParagraph text-left">
                  My job in the United States Air Force is as a Respiratory Therapist and a Cardiac 
                  Cath Lab Technician. What this includes is invasive cardiology procedures such as 
                  left and right heart catheterization, pacemaker and defibrillator implants, 
                  electrophysiology studies and ablations, and much more. My specific role in these
                  procedures is to assist the physician by running specialized equipment, retrieving 
                  supplies for the procedure, documenting the procedures, and pre/post patient care. 
                  While my focus for the future is on becoming a software engineer, the medical field 
                  is still interesting to me as it has been my line of work for the past three years. 
              </p>
          </figure>
      </article>
      <article>
          <h3>Basketball</h3>
          <figure>
              <img width="75%" src="../../assets/basketballimagemedium.jpg" alt="An image of a basketball with basketball shoes.">
              <p class="largeParagraph text-left">
                  Basketball is another interest that I have always had. I enjoy both playing and
                  watching NBA basketball games. My favorite NBA team is the Miami Heat. I am also a fan of 
                  Lebron James so I have also taken a liking to the Lakers due to his recent move to LA. I look
                  forward to seeing the California rivalry that will come during the playoffs if the Warriors and
                  Lakers play each other. 
              </p>
          </figure>
      </article>
  </main>
<app-footer></app-footer>